[Unit]
Description=Runs every minute to autoclean xygt.
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/autoclean.py

[Install]
WantedBy=multi-user.target