<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xygt.cc - {{ title }}</title>
</head>
<body>
    <ul>
        <li class="nav-item"><a href="{{ url_for('index') }}">Home</a></li>
        <li class="nav-item"><a href="{{ url_for('about') }}">About</a></li>
        <li class="nav-item"><a href="{{ url_for('faq') }}">FAQ</a></li>
        <li class="nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
        {% if current_user.is_authenticated %}
            <li class="nav-item"><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li class="nav-item"><a href="{{ url_for('login') }}">Login</a></li>
            <li class="nav-item"><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
    </ul>
    <hr>
    {% block content %}{% endblock %}
    <hr>
    <p>xygt.cc - &copy; Jack Eilles 2023 - <a href="{{ url_for('transparency') }}">Transparency</a> - <a href="{{ url_for('tos') }}">Terms of Service</a> - <a href="{{ url_for('privacy') }}">Privacy Policy</a> </p>
</body>
</html>