{% extends 'base.html' %}

{% block content %}
    <h1>Login</h1>
    <form action="" method="post">
        {{ form.csrf_token() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username() }}
            {% if form.username.errors %}
                <ul class="errors">
                    {% for error in form.username.errors %}
                        <li class="danger">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password() }}
            {% if form.password.errors %}
                <ul class="errors">
                    {% for error in form.password.errors %}
                        <li class="danger">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </p>
        <p>
            <input type="submit" value="Login">
        </p>
    </form>
{% endblock %}