{% extends "base.html" %}

{% block content %}
    <h1>Terms of Service</h1>
    <p><i>Last updated 29/12/23 - 21:00 GMT</i></p>
    <h3>Don't sue me.</h3>
    <p>xygt.cc is provided as is with no warranty, express or implied. We are not under any legal obligation to keep up the service we provide, or keep the service consistent. So in laymans terms, don't sue me over this shit.</p>
    <br>
    <h4>Acceptable usage of xygt.cc</h4>
    <p>xygt.cc is not a place for:</p>
    <ul>
        <li>Pornography</li>
        <li>Piracy</li>
        <li>Illicit Material</li>
        <li>Extremist material of any nature</li>
        <li>Malware / Botnet Command and Control</li>
        <li>Crypto stuff (just don't man)</li>
        <li>Backups (I must reiterate, TEMPORARY FILE HOSTING!)</li>
        <li>Database dumps</li>
        <li>Leaked data dumps</li>
        <li>Anything illegal under United Kingdom and German Law.</li>
    </ul>
    <br>
    <p>Uploads that are found to be in violation of these rules will be immediately removed.</p>
    <p>A large influx of these types of requests will force me to enable extended logging (IP Logs), users will be given 1 (one) days notice before this is turned on, along with an exact date and time of activation.</p>
    <br>
    <h4>Privacy Policy</h4>
    <p>A plain english Privacy Policy can be found <a href="privacy">here</a>. This details what information about you is stored and how it is used.</p>
    <p>By using xygt.cc, you agree to both the Terms of Service as well as the Privacy Policy.</p>
{% endblock %}